<nz-form-item [formGroup]="parts">
  <div nzCompact class="flex fill full">
    <nz-form-control [nzSpan]="12" [style.padding-right]="'4px'">
      <nz-input-group [nzPrefix]="xPrefix">
        <ng-template #xPrefix><span class="padding-right-8">x</span></ng-template>
        <input
          nz-input
          formControlName="x"
          aria-label="x"
          placeholder="x"
          yameNumber
          (yameNumberInput)="value = { x: $event.value, y: value.y }; input.next($event.event)"
          (input)="_handleInput()"
          [type]="type" />
      </nz-input-group>
    </nz-form-control>
    <nz-form-control [nzSpan]="12" [style.padding-left]="'4px'">
      <nz-input-group [nzPrefix]="yPrefix">
        <ng-template #yPrefix><span class="padding-right-8">y</span></ng-template>
        <input
          nz-input
          formControlName="y"
          aria-label="y"
          placeholder="y"
          yameNumber
          (yameNumberInput)="value = { x: value.x, y: $event.value }; input.next($event.event)"
          (input)="_handleInput()"
          [type]="type" /> </nz-input-group
    ></nz-form-control>
  </div>
</nz-form-item>
