<ol #breadcrumbs class="breadcrumb" *ngIf="files">
  <li class="breadcrumb-item" *ngFor="let dir of path; let i=index">
    <a *ngIf="i < path.length - 1" href="javascript:void(0)" (click)="breadcrumbClick($event, i)" (keydown)="brKeyDown($event, i)">{{ dir }}</a>
    <a class="last" *ngIf="i === path.length - 1">{{ dir }}</a>
  </li>
  <li class="breadcrumb-item pl-2" *ngIf="selection">
    {{ selection.name }}
  </li>
</ol>

<div #filesContainer class="d-flex flex-wrap align-content-start" *ngIf="displayedFiles && displayedFiles.length">
  <ng-template ngFor let-file [ngForOf]="displayedFiles">
    <div class="{{selection == file ? 'selected ' : ''}} p-2 text-center"
        (click)="select($event, file)"
        (keydown)="select($event, file)"
        tabindex="0">
      <i class="fa fa-folder fa-3x" *ngIf="file.children"></i>
      <img [src]="sanitize(file.path)" *ngIf="!file.children" />
      <div>
        {{ file.name }}
      </div>
    </div>
  </ng-template>
</div>

<div #noFilesContainer
    class="files-empty"
    *ngIf="displayedFiles && !displayedFiles.length"
    (keydown)="select($event, null)"
    tabindex="0">
  <div *ngIf="!files.length" class="text-center mt-2">
    Folder is empty.
  </div>
  <div *ngIf="files.length" class="text-center mt-2">
    No files match the filter.
  </div>
</div>

<div class="options">
  <div class="row">
    <div class="col">
      <div class="btn-group btn-group-sm" role="group" aria-label="..." *ngIf="selection">
        <button type="button" class="btn btn-secondary">
          <i class="fa fa-info"></i>
        </button>
        <button type="button" class="btn btn-secondary">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-secondary">
          <i class="fa fa-clone"></i>
        </button>
      </div>
    </div>

    <div class="col pull-right" *ngIf="files">
      <div class="input-group pull-left">
        <input *ngIf="searching"
                id="search"
                #search
                type="text"
                class="form-control"
                placeholder="Find..."
                (keyup)="filterFiles($event)"
                [@searchState]="searching"
                (@searchState.done)="searchAnimDone($event)"
                disabled>
      </div>
      <button class="btn btn-sm pull-right {{searching == 'active' ? 'active' : ''}}" *ngIf="files" (click)="toggleSearch()">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

</div>