<nz-tree
  [nzData]="nodes"
  nzBlockNode
  nzAsyncData
  [nzSelectedKeys]="this.asset ? [this.asset.id] : []"
  (nzClick)="onNzClick($event)"
  (nzExpandChange)="onNzExpandChange($event)"
  [nzSelectedKeys]="selectedKeys"
  [nzTreeTemplate]="nzTreeTemplate">
  <ng-template #nzTreeTemplate let-node let-asset="origin.asset">
    <div class="pull-left text-left" [class.root]="!asset.parent" [class.fill-100]="!!asset.parent">
      <div class="pull-left inline-block icon-wrapper">
        <i nz-icon [nzType]="getIcon(asset)"></i>
      </div>
      <div class="node-title pull-right text-ellipsis inline-block">{{ node.title }}</div>
    </div>
    <div *ngIf="!asset.parent" class="pull-right inline-actions-wrapper">
      <div class="inline-actions inline">
        <button
          nz-button
          nzShape="circle"
          nzType="text"
          nzSize="small"
          class="no-margin"
          (click)="removeSource($event, asset)">
          <i nz-icon nzType="delete"></i>
        </button>
      </div>
    </div>
  </ng-template>
</nz-tree>
