<nz-card class="camera-tool content no-padding">
  <button nz-button nzType="text" (click)="onZoomCameraOut()">
    <i nz-icon nzType="expand"></i>
  </button>
  <button nz-button nzType="text" [disabled]="selectedEntities.length === 0" (click)="onZoomCameraToSelection()">
    <i nz-icon nzType="compress"></i>
  </button>
  <button nz-button nzType="text" [disabled]="value <= cameraZoom.min" (click)="onZoomOut()">
    <i nz-icon nzType="zoom-out"></i>
  </button>
  <nz-slider
    class="inline-block"
    [(ngModel)]="value"
    [nzStep]="cameraZoom.step"
    [nzMax]="cameraZoom.max"
    [nzMin]="cameraZoom.min"
    [nzTipFormatter]="formatLabel"
  ></nz-slider>
  <button nz-button nzType="text" [disabled]="value >= cameraZoom.max" (click)="onZoomIn()">
    <i nz-icon nzType="zoom-in"></i>
  </button>
</nz-card>
