yame-settings {
  .sections {
    float: left;
    display: block;
    box-sizing: border-box;
    padding-bottom: 0;
    width: 25%;
    height: 100%;
    overflow: hidden;
    margin-right: 16px;
    background: rgba(0, 0, 0, 0.25) !important;

    .list-wrapper {
      overflow: auto;
      padding-bottom: 8px;
      nz-list {
        padding-top: 0;
        nz-list-item {
          nz-icon {
            transition: all ease-in 100ms;
          }
        }
      }
    }

    .ant-card-body {
      padding: 0;
    }
  }
  .content {
    float: right;
    box-sizing: border-box;
    width: calc(75% - 16px);
    max-height: 100%;
    overflow: auto;
    padding: 16px;
    padding-top: 0;
    section {
      &:last-child {
        min-height: calc(80vh - 60px); // margin bottom of card + height of header
      }
      .ant-list-item-action li {
        width: 100%;
        overflow: hidden;
        & > * {
          display: inline-block;
          width: 100%;
          text-align: right;
        }
      }
    }
  }
}
