.sections {
  float: left;
  display: block;
  box-sizing: border-box;
  padding-bottom: 0;
  width: 25%;
  height: 100%;
  overflow: hidden;
  margin-right: 16px;
  background: rgba(0, 0, 0, 0.25);

  .list-wrapper {
    overflow: auto;
    margin: 0 -16px;
    padding-bottom: 8px;
    mat-selection-list {
      padding-top: 0;
      mat-list-option {
        mat-icon { transition: all ease-in 100ms; }
        &.mat-list-single-selected-option {
          mat-icon { color: #3388cc; }
        }
      }
    }
  }
}
.content {
  float: right;
  box-sizing: border-box;
  width: calc(75% - 16px);
  max-height: 100%;
  overflow: auto;
  padding: 16px;
  padding-top: 0;
  section {
    mat-card {
      padding: 0;
      mat-list { padding: 0; }
    }
    &:last-child {
      min-height: calc(90vh - 60px); // margin bottom of card + height of header
    }
  }
}