<nz-card class="sections" [nzBordered]="false" [nzTitle]="'preferences.settings.title' | translate">
  <div class="list-wrapper">
    <ul nz-menu nzMode="inline">
      <li
        nz-menu-item
        *ngFor="let section of sections"
        [nzSelected]="currentSection === section.id"
        (click)="scrollToSection(section.id)"
      >
        <i nz-icon *ngIf="section.icon" [nzType]="section.icon"></i>
        <span>{{ section.label | translate }}</span>
      </li>
    </ul>
  </div>
</nz-card>

<div class="content" (scroll)="onContentScroll()">
  <ng-container *ngFor="let section of sections">
    <section #sections [id]="section.id" *ngIf="options[section.id]">
      <nz-list nzBordered [nzHeader]="section.label | translate">
        <nz-list-item *ngFor="let option of options[section.id]">
          <span>{{ option.label | translate }}</span>
          <ul nz-list-item-actions class="fill-33">
            <nz-list-item-action>
              <ng-container class="inline-block full fill text-right" [yameSettingOption]="option"></ng-container>
            </nz-list-item-action>
          </ul>
        </nz-list-item>
      </nz-list>
    </section>
  </ng-container>
</div>
