<ng-container *ngIf="selectedAsset">
  <div class="ant-drawer-header padding-8">
    <i nz-icon [nzType]="getIcon(selectedAsset)" class="inline"></i>
    <div class="ant-drawer-title inline margin-left-8" [innerText]="selectedAsset.resource.name"></div>
  </div>
  <nz-tabset nzCentered>
    <nz-tab [nzTitle]="titleTemplate">
      <ng-template #titleTemplate>
        <i nz-icon nzType="info-circle"></i>
        <span>{{ 'asset.details.title' | translate }}</span>
      </ng-template>
      <div
        class="preview"
        dnd-draggable
        [dragEnabled]="true"
        [dragData]="selectedAsset"
        (dragstart)="onDragStart($event)">
        <div class="fill-width fill-height relative">
          <ng-container [yameAssetPreview]="selectedAsset"></ng-container>
        </div>
      </div>
      <nz-descriptions nzBordered nzSize="small" [nzColumn]="{ xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }">
        <nz-descriptions-item [nzTitle]="'asset.details.type' | translate">
          {{ getLabel(selectedAsset) | translate }}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'asset.details.size' | translate">
          <span>{{ selectedAsset?.resource.size | bytes }}</span>
          <br />
          <small nz-typography nzType="secondary">{{ selectedAsset?.resource.size | number }} bytes</small>
        </nz-descriptions-item>
        <nz-descriptions-item
          *ngIf="selectedAsset.resource.created !== undefined"
          [nzTitle]="'asset.details.created' | translate">
          <span>{{ selectedAsset.resource.created | date: 'mediumDate':undefined:lang }}</span>
          <br />
          <small nz-typography nzType="secondary">{{
            selectedAsset.resource.created | date: 'shortTime':undefined:lang
          }}</small>
        </nz-descriptions-item>
        <nz-descriptions-item
          *ngIf="selectedAsset.resource.changed !== undefined"
          [nzTitle]="'asset.details.modified' | translate">
          <span>{{ selectedAsset.resource.changed | date: 'mediumDate':undefined:lang }}</span>
          <br />
          <small nz-typography nzType="secondary">{{
            selectedAsset.resource.changed | date: 'shortTime':undefined:lang
          }}</small>
        </nz-descriptions-item>
        <nz-descriptions-item *ngFor="let description of descriptions" [nzTitle]="description.label | translate">
          <ng-container [ngComponentOutlet]="description.content"></ng-container>
        </nz-descriptions-item>
      </nz-descriptions>
    </nz-tab>
  </nz-tabset>
</ng-container>
