@import '../../../../variables.scss';

$tree-node-toggle-size: $tree-indent-size;
$tree-node-icon-size: $tree-indent-size + 8px;

:host {
  display: block;
}

h5 {
  margin: 6px 0;
  padding: 0 12px 0 0;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.invisible {
  display: none;
}
.mat-tree-ul {
  padding-left: 0;
  mat-tree-node {
    padding-left: 40px;
  }
}
.mat-list-text {
  display: inline-block;
}

tree-root {
  display: block;
  max-height: 100%;
  overflow-y: auto;
  background: none;
}


.header {
  display: inline-block;
  width: calc(100% - #{$resizer-size});
  h4 {
    float: left;
    margin: 0 0 4px 0;
    padding: 0 12px 0 0;
  }
  .btn-group { float: right; }
}

.placeholder {
  height: 30px;
  border: 1px dashed grey;
}

h5.node-name, .inline-actions {
  display: inline;
}

.inline-actions {
  float: right;
}
mat-icon {
  font-size: $tree-icon-font-size;
}

.isolated {
  position: absolute;
  left: -100%;
  bottom: 0;
  width: 200%;
  height: 4px;
  background-color: #3388cc;
}
