
<div #header class="header">
  <h4 class="mat-h4">Hierarchy</h4>
  <div class="btn-group">
    <yame-add-entity></yame-add-entity>
  </div>
</div>

<tree-root #tree
          [nodes]="nodes"
          [options]="options"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
          (moveNode)="onMoveNode($event)"
          (copyNode)="onCopyNode($event)">
  <ng-template #treeNodeTemplate let-node let-index="index">
    <button *ngIf="!node.isLeaf"
            class="toggle-btn"
            mat-icon-button
            disableRipple
            [attr.aria-label]="'toggle ' + node.id"
            (click)="$event.preventDefault(); $event.stopPropagation(); node.toggleExpanded()">
      <mat-icon>{{ node.isExpanded ? 'expand_more' : 'chevron_right' }}</mat-icon>
    </button>
    <div *ngIf="isolated && isolated === node.id" class="isolated"></div>
    <mat-icon class="node-icon mat-icon-rtl-mirror"> {{ getIcon(node.data, node.isExpanded) }} </mat-icon>
    <h5 class="mat-h5 node-name">{{ node.data.name }}</h5>
    <div class="inline-actions-wrapper">
      <div class="inline-actions">
        <yame-add-entity *ngIf="canHaveChildren(node.data)" class="embedded" [parent]="node.id"></yame-add-entity>
        <button mat-icon-button (click)="toggleVisibility($event, node.data)">
          <mat-icon>{{ isVisible(node.data) ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleLock($event, node.data)">
          <mat-icon>{{ isLocked(node.data) ? 'lock' : 'lock_open' }}</mat-icon>
        </button>
        <button mat-icon-button (click)="removeEntity($event, node.data)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </ng-template>
</tree-root>
