.slider-container {
  &.editable,
  &.removable {
    width: calc(100% - 48px) !important;
  }

  &.editable.removable {
    width: calc(100% - 88px) !important;
  }

  &.slider-container.editable.removable {
    width: calc(100% - 96px) !important;
  }
}
