:host:not(.embedded) {
  .slider-container {
    box-sizing: border-box;
    padding-left: 8px;
  }
}

:host {
  width: 100%;
  display: block;
}

.wrapper {
  display: inline-block;
}

.wrapper,
input,
label,
.slider-container {
  margin: 0 4px;
  &.full {
    width: 100%;
  }
  &.threequarter {
    width: 75%;
  }
  &.half {
    width: 50%;
  }
  &.quarter {
    width: 25%;
  }
}
