:host {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
}

.preview {
  max-height: 20px;
  max-width: 20px;
  height: auto;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.name {
  margin-left: 20px;
}

mat-select-trigger .preview {
  right: 20px;
  bottom: -4px;
}

mat-form-field.removable,
mat-form-field.editable {
  width: calc(100% - 40px);
}

mat-form-field.editable.removable {
  width: calc(100% - 90px);
}
