<ng-select
  class="custom"
  [(ngModel)]="selected"
  dnd-droppable
  [placeholder]="component.mixed ? getLabel() + ' ' + placeholder : getLabel()"
  appearance="outline"
  appendTo="yame-sidebar"
  [loading]="loading"
  [allowDrop]="allowDrop"
  (onDropSuccess)="onDrop($event)"
  (scroll)="onScroll($event)"
  (scrollToEnd)="onScrollToEnd()"
  [virtualScroll]="true">
  <ng-option *ngFor="let asset of assetBuffer" [value]="asset.id">
    <img class="preview" [src]="asset.resource.uri" />
    <span class="name">{{ asset.resource.label }}</span>
  </ng-option>
</ng-select>