<div class="header">
    Rename error!
</div>
<div class="image content">
    <div class="image">
        <i class="warning sign icon"></i>
    </div>
    <div class="description">
        <p>A layer or an object with this id lready exists! Please choose another id!</p>
    </div>
</div>
<div class="actions">
    <div class="two fluid ui inverted buttons">
        <div class="ui ok green basic inverted button">
            <i class="checkmark icon"></i>
                OK
        </div>
    </div>
</div>