yame-component-type-group {
  .ant-collapse-header {
    padding: 4px !important;
    & > div {
      display: inline-block;
      margin-right: 8px;
    }
  }

  yame-type-label {
    width: calc(100% - 54px);
  }
}
