<nz-collapse-panel [nzActive]="expanded" [nzHeader]="header">
  <ng-template #header>
    <yame-type-label [component]="component" [entities]="entities"></yame-type-label>
    <div *ngIf="component?.removable" class="inline-actions inline pull-right">
      <button nz-button nzShape="circle" nzType="text" nzSize="small" (click)="onRemove($event)">
        <i nz-icon nzType="delete"></i>
      </button>
    </div>
  </ng-template>
  <ng-container
    [yameSceneComponents]="components"
    [yameSceneComponentsEntities]="entities"
    [yameSelectState]="selectState"
    (yameSceneComponentsInput)="onUpdate($event)"
    (yameSceneComponentsRemove)="onRemovedComponent($event)"
  ></ng-container>
  <yame-add-component *ngIf="canAddComponents" [entities]="entities" [component]="component"></yame-add-component>
</nz-collapse-panel>
