@import 'bootstrap.less';
@import 'loading.less';

body {
  background: #272B30;
  color: white;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}


::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
}

*:focus {
  outline: none;
}

.node-wrapper > .node-content-wrapper {
  border-radius: 0 !important;
  padding-left: 100% !important;
  margin-left: -100% !important;
  padding-right: 100% !important;
  margin-right: -100% !important;
}

.tree-node-focused > .node-wrapper > .node-content-wrapper {
  background: rgba(255, 255, 255, 0.1) !important;
}

.node-content-wrapper:hover {
  background: rgba(255, 255, 255, 0.1) !important;
}

.tree-node-active > .node-wrapper > .node-content-wrapper {
  background: rgba(255, 255, 255, 0.25) !important;
}

.tree-node-active > .node-wrapper > .node-content-wrapper, .tree-node-focused > .node-content-wrapper, .node-content-wrapper:hover {
  box-shadow: none !important;
}

.tree {
  .toggle-children {
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: inherit !important;
    text-rendering: auto !important;
    -webkit-font-smoothing: antialiased !important;
    color: white;
    background: none;
    transform: none !important;
  }
  .toggle-children-wrapper-collapsed .toggle-children::before {
    content: "\f0da";
  }
  .toggle-children-wrapper-expanded .toggle-children::before {
    content: "\f0d7";
  }
}

tree-viewport {
  overflow-x: hidden;
  padding-left: 5px;
}