yame-component-type-number {
  display: block;
  width: 100%;
  position: relative;
  padding: 0 8px;
  margin-bottom: 4px;
  yame-type-label {
    width: calc(100% - 24px);
  }
  button[nz-button] {
    position: absolute;
    top: 0;
    right: 4px;
  }
}
