<yame-type-label class="margin-bottom-8" [component]="component" [entities]="entities"></yame-type-label>
<point-input
  #input
  (input)="onUpdate($event)"
  [value]="value"
  [placeholder]="component?.mixed ? getLabel() + ' ' + placeholder : getLabel()"
  [disabled]="disabled"
></point-input>
<button
  *ngIf="component?.removable"
  nz-button
  nzShape="circle"
  nzType="text"
  nzSize="small"
  class="remove absolute"
  (click)="onRemove($event)"
>
  <i nz-icon nzType="delete"></i>
</button>
