:host {
  width: 50%;
}

mat-form-field, .slider-container {
  margin: 10px;
  &.full {
    width: calc(100% - 20px);
  }
  &.half {
    width: calc(50% - 20px);
  }
  &.quarter {
    width: calc(25% - 20px);
  }

  mat-slider {
    width: 100%;
  }
}

.slider-container {
  .mat-form-field-label {
    position: initial;
    display: block;
    font: normal normal 400 normal 16px / 18px Roboto, "Helvetica Neue", sans-serif;
    transform: scale(0.8);
  }
}
