<h1 mat-dialog-title>{{ 'editComponent.title' | translate }}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>{{ 'editComponent.label' | translate }}</mat-label>
    <input matInput
            name="id"
            [formControl]="formControl"
            (keyup.enter)="onSave()"
            [errorStateMatcher]="matcher">
    <mat-error *ngIf="formControl.hasError('idUsed')">
      {{ 'editComponent.inUse' | translate }}
    </mat-error>
    <mat-error *ngIf="formControl.hasError('idReserved')">
      {{ 'editComponent.reserved' | translate }}
    </mat-error>
    <mat-error *ngIf="formControl.hasError('required')" [innerHTML]="'editComponent.required' | translate">
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{ 'cancel' | translate }}</button>
  <button mat-button [disabled]="disabled" (click)="onSave()">{{ 'save' | translate }}</button>
</div>
