<!-- <div class="slider-container full inline-block"
      [class.editable]="component?.editable"
      [class.removable]="component?.removable">
  <label class="mat-form-field-label">{{ component?.mixed ? getLabel() + ' ' + placeholder : getLabel() }}</label>
  <mat-slider
    [max]="max"
    [min]="min"
    [disabled]="disabled"
    [step]="step"
    [thumbLabel]="true"
    [tickInterval]="ticks"
    [value]="value"
    (input)="onUpdate($event)"
  >
  </mat-slider>
</div>
<yame-edit-component *ngIf="component?.editable" class="edit" [entities]="entities" [component]="component"></yame-edit-component>
<button *ngIf="component?.removable" mat-icon-button class="remove" (click)="onRemove($event)">
  <mat-icon>delete</mat-icon>
</button> -->
<yame-type-label class="margin-bottom-8" [component]="component" [entities]="entities"></yame-type-label>
<nz-slider [nzMax]="max" [nzMin]="min" [nzDisabled]="disabled" [nzStep]="step" [nzMarks]="ticks" [(ngModel)]="value">
</nz-slider>
<button
  *ngIf="component?.removable"
  nz-button
  nzShape="circle"
  nzType="text"
  nzSize="small"
  class="remove absolute"
  (click)="onRemove($event)"
>
  <i nz-icon nzType="delete"></i>
</button>
