<div class="resizer"
  (window:resize)="onResize($event)"
  (mousedown)="onMouseDown($event)"
  (window:mousemove)="onMouseMove($event)"
  (window:mouseup)="onMouseUp($event)">
</div>

<button id="openWorkspace" *ngIf="!nodes" class="btn btn-primary btn-block" (click)="openFolder()">
  <i class="fa fa-folder"></i>
  Open Folder
</button>
<div #row class="row" *ngIf="nodes">
  <div #leftCol class="col pl-0">
    <tree-root #tree (onActivate)="selectNode($event)" *ngIf="nodes" [nodes]="nodes"></tree-root>
  </div>
  <assets #midCol class="col" [files]="selection" [path]="selectedPath" (select)="assetSelected($event)" (breadcrumb)="breadcrumbClick($event)"></assets>
  <resizable #resizerLeft class="left" [property]="'left'" [maxVal]="'500'" [minVal]="'200'" (sizeUpdated)="updateColumnsFromLeft($event)"></resizable>
</div>