<div class="tree-wrapper">
  <nz-tree
    [nzData]="nodes"
    nzBlockNode
    nzAsyncData
    [nzSelectedKeys]="this.group ? [this.group.id] : []"
    (nzClick)="onNzClick($event)"
    (nzExpandChange)="onNzExpandChange($event)"
    [nzTreeTemplate]="nzTreeTemplate"
  >
    <ng-template #nzTreeTemplate let-node let-group="origin.group">
      <div class="pull-left text-left" [class.root]="!group.parent" [class.fill-100]="!!group.parent">
        <div class="pull-left inline-block icon-wrapper">
          <i nz-icon [nzType]="getIcon(group)"></i>
        </div>
        <div class="node-title pull-right text-ellipsis inline-block">{{ node.title }}</div>
      </div>
      <div *ngIf="!group.parent" class="pull-right inline-actions-wrapper">
        <div class="inline-actions inline">
          <button
            nz-button
            nzShape="circle"
            nzType="text"
            nzSize="small"
            class="no-margin"
            (click)="removeSource($event, group)"
          >
            <i nz-icon nzType="delete"></i>
          </button>
        </div>
      </div>
    </ng-template>
  </nz-tree>
</div>

<button
  *ngIf="assetSources.length === 1"
  nz-button
  nzType="primary"
  [attr.aria-label]="'asset.addResourceGroup' | translate"
  (click)="addFromSource(assetSources[0])"
>
  <i nz-icon nzType="folder-add"></i>
  <span class="margin-left-4">{{ 'asset.addSource' | translate }}</span>
</button>

<button
  *ngIf="assetSources.length > 1"
  nz-button
  nzType="primary"
  nz-dropdown
  nzTrigger="click"
  [nzDropdownMenu]="menu"
>
  <i nz-icon nzType="folder-add"></i>
  <span class="margin-left-4">{{ 'asset.addSource' | translate }}</span>
</button>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li *ngFor="let source of assetSources" nz-menu-item (click)="addFromSource(source)">
      <i nz-icon *ngIf="source.icon" [nzType]="source.icon"></i>
      <span class="margin-left-4">{{ 'asset.source.' + source.type | translate }}</span>
    </li>
  </ul>
</nz-dropdown-menu>
