@import '../../../../variables.scss';
$init-padding: 16px;
$icon-width: 24px;

yame-asset-groups {
  @extend div !optional;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: 3px 0px 1px -2px rgba(0, 0, 0, 0.2), 2px 0px 2px 0 rgba(0, 0, 0, 0.14), 1px 0px 5px 0 rgba(0, 0, 0, 0.12);

  &.no-overflow {
    overflow-y: hidden;
  }
  text-align: center;

  .tree-wrapper {
    height: calc(100% - 69.5px);
    width: calc(100% - #{$resizer-size * 2});
    padding-left: $resizer-size;
    overflow-x: hidden;
    overflow-y: auto;

    .inline-actions-wrapper {
      min-width: unset;
      width: $icon-width;
      .inline-actions {
        float: right;
        transform: translateX(100%);
        opacity: 0;
        transition: all ease-in-out 100ms;
      }
    }

    nz-tree-node.ant-tree-treenode {
      padding: 0;
      margin-bottom: 4px;
      user-select: none;
      overflow: hidden;
      transition: all 0.3s, border 0s, line-height 0s, box-shadow 0s;
      &:hover {
        background-color: rgba(255, 255, 255, 0.08);
        .inline-actions {
          transform: none;
          opacity: inherit;
        }
      }
      &.ant-tree-treenode-selected {
        background-color: #11263c;
      }
      .ant-tree-node-content-wrapper:hover {
        background: unset;
      }
    }

    .ant-tree-node-content-wrapper {
      min-width: 0;
    }

    .root {
      width: calc(100% - #{$icon-width});
    }

    .icon-wrapper {
      width: $icon-width;
    }
    .node-title {
      width: calc(100% - #{$icon-width});
    }
  }

  .empty {
    padding: $init-padding;
    opacity: 0.5;
  }

  button[nz-button]:not(.no-margin) {
    width: calc(100% - #{$init-padding} * 2);
    margin: $init-padding;
    max-width: 240px;
  }
}
