
<div class="ui large divided list">
  <div class="item">
    <div id="menu-file-file-buttons" class="ui vertical fluid buttons">
        <button class="ui button" data-action="new-map">
            <i class="outline file icon"></i>
            New map
        </button>
    </div>
  </div>
  <div class="item">
    <div id="menu-file-open-buttons" class="ui vertical fluid buttons">
        <button class="ui button" data-action="open-folder">
            <i class="open folder icon"></i>
            Open map
        </button>
        <div class="ui simple dropdown button disabled">
            <i class="open folder icon"></i>
                Open recent
            <i class="dropdown icon"></i>
            <div class="menu"> </div>
        </div>
    </div>
  </div>
  <div class="item">
    <div id="menu-file-save-buttons" class="ui vertical fluid buttons">
        <button class="ui button" data-action="save">
            <i class="save icon"></i>
            Save
        </button>
        <button class="ui button" data-action="save-as">
            <i class="save icon"></i>
            Save as...
        </button>
    </div>
  </div>
  <div  class="item">
    <div id="menu-file-export-buttons" class="ui vertical fluid buttons">
        <button class="ui button disabled">
            <i class="sign out icon"></i>
            Export
        </button>
        <button class="ui button disabled">
            <i class="sign in icon"></i>
            Import
        </button>
    </div>
  </div>
  <div class="item">
    <div id="menu-file-quit-buttons" class="ui vertical fluid buttons">
        <button class="ui button" data-action="quit">
            <i class="remove icon"></i>
            Close
        </button>
    </div>
  </div>
</div>