<form class="ui form">
    <h5 class="ui dividing header">Grid settings</h5>
    <div id="menu-settings-grid" class="two fields">
        <div class="field">
            <input id="gridWidth" type="number" name="" maxlength="4" placeholder="Grid width">
        </div>
        <div class="field">
            <input id="gridHeight" type="number" name="" maxlength="4" placeholder="Grid height">
        </div>
    </div>

    <h5 class="ui dividing header">Snapping settings</h5>
    <div id ="menu-settings-snapping">
        <div class="field">
            <div id="snapToGrid" class="ui toggle checkbox">
                <input type="checkbox" tabindex="0" class="hidden">
                <label>Snap to grid</label>
            </div>
        </div>

        <div class="two fields">
            <div class="field">
                <div id="snapToAngle" class="ui toggle checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>Snap to angle</label>
                </div>
            </div>
            <div class="field">
                <input id="angleSnapping" type="number" name="" maxlength="4" placeholder="Angle snapping" disabled>
            </div>
        </div>
    </div>
</form>

<script>$('.ui.checkbox').checkbox();</script>