<mat-form-field class="full"
                [class.editable]="component.editable"
                [class.removable]="component.removable">
  <mat-label>{{ component.id }}</mat-label>
  <input
    matInput
    [disabled]="disabled"
    [value]="number | round: decimal"
    yameNumber
    (yameNumberInput)="update($event.event);"
    (input)="update($event)"
  />
</mat-form-field>
<yame-edit-component *ngIf="component.editable" class="edit" [entities]="entities" [component]="component"></yame-edit-component>
<button *ngIf="component.removable" mat-icon-button class="remove" (click)="remove($event)">
  <mat-icon>delete</mat-icon>
</button>
