<!-- Left slide -->

<md-list
  dense
  [@slideState]="slide"
  class="prev">
  <md-list-item>
    <button md-icon-button *ngIf="current.id != ws.directory.path" class="btn-back">
      <md-icon >keyboard_arrow_left</md-icon>
    </button>
    <div class="fill-width text-center">{{ current.content.name }}</div>
  </md-list-item>
  <ng-template ngFor let-group [ngForOf]="openingGroups">
    <md-list-item>
      <md-icon md-list-icon>folder</md-icon>
      <h4 md-line> {{ group.content.name }} </h4>
    </md-list-item>
  </ng-template>
</md-list>

<!-- Content -->
<md-nav-list
  dense
  [@slideState]="slide"
  (@slideState.start)="slideAnimStart($event)"
  (@slideState.done)="slideAnimDone($event)"
  class="now">
  <md-list-item [disableRipple]="true"
            (contextmenu)="onBackClick($event)">
    <button md-icon-button
            *ngIf="displayBack"
            (click)="onBackClick($event)"
            class="btn-back">
      <md-icon>keyboard_arrow_left</md-icon>
    </button>
    <div class="fill-width text-center">{{ slide == 'none' ? current.content.name : previous.content.name }}</div>
  </md-list-item>

  <button
    #parentMenuTrigger
    md-button
    *ngIf="parents.length > 0"
    [mdMenuTriggerFor]="parentsMenu"
    id="menuTrigger"
    class="invisible">
  </button>

  <md-menu #parentsMenu="mdMenu" [yPosition]="'above'">
    <button *ngFor="let parent of parents" md-menu-item (click)="open(parent)">
      <md-icon>folder_open</md-icon>
      <span>{{ parent.content.name }}</span>
    </button>
  </md-menu>

  <ng-template ngFor let-group [ngForOf]="groups">
    <md-list-item (click)="open(group)">
      <md-icon md-list-icon>folder</md-icon>
      <h4 md-line> {{ group.content.name }} </h4>
    </md-list-item>
  </ng-template>
</md-nav-list>

<!-- Right slider -->
<md-list
  dense
  [@slideState]="slide"
  class="next">
  <md-list-item>
    <button md-icon-button class="btn-back">
      <md-icon >keyboard_arrow_left</md-icon>
    </button>
    <div class="fill-width text-center">{{ current.content.name }}</div>
  </md-list-item>
  <ng-template ngFor let-group [ngForOf]="openingGroups">
    <md-list-item>
      <md-icon md-list-icon>folder</md-icon>
      <h4 md-line> {{ group.content.name }} </h4>
    </md-list-item>
  </ng-template>
</md-list>
