<div class="content">
  <nz-radio-group [ngModel]="(activeTool$ | async)?.id" nzButtonStyle="solid">
    <label nz-radio-button *ngFor="let tool of tools" [nzValue]="tool.id" (click)="activate(tool, $event)">
      <ng-template [yameTool]="tool"> </ng-template>
    </label>
  </nz-radio-group>
  <div class="clickers">
    <button nz-button nzType="text" class="fill full" *ngFor="let tool of clickers" (click)="activate(tool, $event)">
      <ng-template [yameTool]="tool"> </ng-template>
    </button>
  </div>
</div>
