/* The global background color */
$main-background-color: #303030;

/* The size of a resizer */
$resizer-size: 5px;

/* The indent level for tree nodes */
$tree-indent-size: 16px;

$tree-icon-font-size: 1.125em;

$tree-inline-btn-size: 32px;

$tree-node-height: 32px;
