@import '../../variables.scss';

$init-padding: 32px;

:host {
  width: 100%;
  bottom: 0;
  position: absolute;
  display: block;
  box-shadow: 0 -3px 5px -1px rgba(0, 0, 0, 0.3), 0 -6px 10px 0 rgba(0, 0, 0, 0.25), 0 -1px 18px 0 rgba(0, 0, 0, 0.2);
  background: #303030;
}

#openWorkspace {
  height: calc(100% - 5px);
}

.resizer {
  width: 100%;
  height: $resizer-size;
  cursor: ns-resize;
  margin-top: -1px;
}


yame-resizable {
  &.right {
    float: right;
  }
  &.left {
    float: left;
  }
  position: absolute;
  width: $resizer-size;
  height: 100%;
  cursor: ew-resize;
  // background: #121212;
}

.node-wrapper {
  background: red;
}

#init {
  padding: 0 $init-padding;
  button {
    width:  calc(100% - #{$init-padding} * 2);
  }
}
