<div class="resizer"></div>


<div id="init" class="relative fill-height" *ngIf="!content">
  <button mat-raised-button
          class="absolute vert-center"
          (click)="openFolder()">
    <mat-icon>folder_open</mat-icon>
  </button>
</div>


 <div #row class="fill-width" *ngIf="content">
  <yame-groups #groupsComponent
          (opened)="onGroupSelect($event.group)"
          class="absolute fill-height">
  </yame-groups>
  <yame-assets #assetsComponent
          class="absolute fill-height"
          [group]="assetGroup">
  </yame-assets>
  <yame-resizable #resizer
            class="left"
            [property]="'left'"
            [maxVal]="'500'"
            [minVal]="'200'"
            (sizeUpdated)="updateColumns($event)">
  </yame-resizable>
</div>
