<div class="resizer"
  (window:resize)="onResize()"
  (mousedown)="onMouseDown($event)"
  (window:mousemove)="onMouseMove($event)"
  (window:mouseup)="onMouseUp()">
</div>


<div id="init" class="relative fill-height" *ngIf="!content">
  <button mat-raised-button
          class="absolute vert-center"
          (click)="openFolder()">
    <mat-icon>folder_open</mat-icon>
  </button>
</div>


 <div #row class="fill-width" *ngIf="content">
  <groups #groupsComponent
          (opened)="onGroupSelect($event.group)"
          class="absolute fill-height">
  </groups>
  <assets #assetsComponent
          class="absolute fill-height"
          [group]="assetGroup">
  </assets>
  <resizable #resizer
            class="left"
            [property]="'left'"
            [maxVal]="'500'"
            [minVal]="'200'"
            (sizeUpdated)="updateColumns($event)">
  </resizable>
</div>
