$toolbar-width: 64px;
$toolbar-toggler-width: 15px;

:host {
  position: absolute;
  left: 0;
  top: 0;
  width: 75%;
  height: 100%;
  overflow: hidden;

  yame-asset-panel {
    z-index: 2;
  }

  yame-toolbar {
    z-index: 1;
    width: $toolbar-width;
  }

  yame-pixi {
    z-index: 0;
    left: $toolbar-toggler-width;
    width: calc(100% - #{$toolbar-toggler-width});
  }
}
