<div #filesContainer class="flex wrap" *ngIf="assets && assets.length">
  <ng-template ngFor let-asset [ngForOf]="assets">
    <mat-card class="example-card" dnd-draggable [dragEnabled]="true" [dragData]="asset">
      <mat-card-header>
        <mat-card-title>{{ asset.content.simpleName }}</mat-card-title>
        <mat-card-subtitle>{{ asset.type }}</mat-card-subtitle>
      </mat-card-header>
      <div class="wrapper fill-width">
        <ng-template [assetPreview]="asset"></ng-template>
      </div>
      <mat-card-actions *ngIf="getMenuOptions(asset).length" class="text-right">

        <button *ngIf="getMenuOptions(asset).length == 1" mat-button (click)="getMenuOptions(asset)[0].callback($event, asset)">
          <mat-icon *ngIf="getMenuOptions(asset)[0].icon">{{ getMenuOptions(asset)[0].icon }}</mat-icon>
          <span> {{ getMenuOptions(asset)[0].title }} </span>
        </button>

        <button *ngIf="getMenuOptions(asset).length > 1" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let option of getMenuOptions(asset)" (click)="option.callback($event, asset)">
            <mat-icon *ngIf="option.icon">{{ option.icon }}</mat-icon>
            <span> {{ option.title }} </span>
          </button>
        </mat-menu>
      </mat-card-actions>
    </mat-card>
  </ng-template>
</div>

<div #noFilesContainer
    class="files-empty"
    *ngIf="assets && !assets.length"
    (keydown)="select($event, null)"
    tabindex="0">
  <mat-card class="text-center">
    Group is empty
  </mat-card>
</div>
