$max-width: 100px;
$max-height: 50px;
$options-height: 0px;
$bc-height: 20px;
$options-bg-color: #191c1d;

:host {
  @extend div !optional;
  padding: 0 !important;
  position: relative;
}

.spacer {
  height: 3px;
  width: 100%;
}

.flex {
  overflow-y: auto;
  user-select: none;
  max-height: calc(100% - #{$options-height});
  mat-card {
    width: $max-width;
    margin: 0 2.5px 5px 2.5px;
    height: 138px;
    mat-card-header {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      mat-card-subtitle {
        min-height: 16px;
      }
    }
    .wrapper {
      height: $max-height;
      overflow: hidden;
    }
  }
  .p-2 {
    position: relative;
    transition: background .25s ease-out;
    &:hover, &:focus {
      cursor: pointer;
      background: rgba(255, 255, 255, 0.1);
    }

    &.selected {
      background: rgba(255, 255, 255, 0.25);
    }

    img {
      width: auto;
      max-width: $max-width;
      height: $max-height;
    }
    div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: $max-width;
    }
  }
}

.files-empty {
  height: calc(100% - #{$options-height} - 0.5rem);
}
