<!-- Left slide -->

<mat-list
  dense
  [@slideState]="slide"
  class="prev">
  <mat-list-item>
    <button mat-icon-button *ngIf="current && current.id != ws.directory.path" class="btn-back">
      <mat-icon >keyboard_arrow_left</mat-icon>
    </button>
    <div class="fill-width text-center">{{ current ? current.content.name : '' }}</div>
  </mat-list-item>
  <ng-template ngFor let-group [ngForOf]="openingGroups">
    <ng-template [groupHost]="group">
    </ng-template>
  </ng-template>
</mat-list>

<!-- Content -->
<mat-nav-list
  dense
  [@slideState]="slide"
  (@slideState.start)="slideAnimStart($event)"
  (@slideState.done)="slideAnimDone($event)"
  class="now">
  <mat-list-item [disableRipple]="true"
            (contextmenu)="onBackClick($event)">
    <button mat-icon-button
            *ngIf="displayBack"
            (click)="onBackClick($event)"
            class="btn-back">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <div *ngIf="current && previous" class="fill-width text-center">{{ slide == 'none' ? current.content.name : previous.content.name }}</div>
  </mat-list-item>

  <button
    #parentMenuTrigger
    mat-button
    *ngIf="parents && parents.length > 0"
    [matMenuTriggerFor]="parentsMenu"
    id="menuTrigger"
    class="invisible">
  </button>

  <mat-menu #parentsMenu="matMenu" [yPosition]="'above'">
    <button *ngFor="let parent of parents" mat-menu-item (click)="open(parent)">
      <mat-icon>folder_open</mat-icon>
      <span>{{ parent.content.name }}</span>
    </button>
  </mat-menu>
  <ng-template ngFor let-group [ngForOf]="groups">
    <ng-template [groupHost]="group" (click)="open(group)">
    </ng-template>
  </ng-template>
</mat-nav-list>

<!-- Right slider -->
<mat-list
  dense
  [@slideState]="slide"
  class="next">
  <mat-list-item>
    <button mat-icon-button class="btn-back">
      <mat-icon >keyboard_arrow_left</mat-icon>
    </button>
    <div class="fill-width text-center">{{ current ? current.content.name : '' }}</div>
  </mat-list-item>
  <ng-template ngFor let-group [ngForOf]="openingGroups">
    <ng-template [groupHost]="group">
    </ng-template>
  </ng-template>
</mat-list>
