<h5 class="text-center mat-h5">
  {{ title }}
</h5>

<mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="example-tree">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle [class.changed]="isChanged(node)">
    <li>
      <h5 class="mat-h5 node-name">
        {{node.id}}
      </h5>
      <div class="inline-actions">
        <button mat-icon-button (click)="toggleVisibility(node)">
          <mat-icon>{{ node.visibility ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleLock(node)">
          <mat-icon>{{ node.locked ? 'lock' : 'lock_open' }}</mat-icon>
        </button>
        <button mat-icon-button (click)="removeEntity(node)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </li>
  </mat-tree-node>

  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
    <li>
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.id">
        <mat-icon class="mat-icon-rtl-mirror">
          {{nestedTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <h5 class="mat-h5">
        {{node.id}}
      </h5>
      <ul class="mat-tree-ul" [class.invisible]="!nestedTreeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
