:host {
  width: 100%;
  bottom: 0;
  position: absolute;
  display: block;
  background: #303030;
  left: 5px;
  width: calc(100% - 10px);
  overflow: hidden;
  border-radius: 4px;
  background: #424242;
  margin-bottom: 5px;
}

ng-component {
  width: calc(50% - 20px);
}

.resizer {
  width: 100%;
  height: 5px;
  cursor: ns-resize;
  margin-top: -1px;
}

mat-form-field, .slider-container {
  margin: 10px;
  &.full {
    width: calc(100% - 20px);
  }
  &.half {
    width: calc(50% - 20px);
  }
  &.quarter {
    width: calc(25% - 20px);
  }

  mat-slider {
    width: 100%;
  }
}

.flex.wrap {
  max-height: calc(100% - 20px);
  overflow-x: hidden;
  overflow-y: auto;
}

.slider-container {
  .mat-form-field-label {
    position: initial;
    display: block;
    font: normal normal 400 normal 16px / 18px Roboto, "Helvetica Neue", sans-serif;
    transform: scale(0.8);
  }
}
