<div class="resizer"
  (window:resize)="onResize()"
  (mousedown)="onMouseDown($event)"
  (window:mousemove)="onMouseMove($event)"
  (window:mouseup)="onMouseUp()">
</div>
<h5 class="text-center mat-h5">
  {{ title }}
</h5>

<div class="flex wrap">
  <ng-container *ngFor="let attribute of data.additionalBefore">
    <div *ngIf="attribute.type === 'range'" class="slider-container half">
      <label class="mat-form-field-label">{{ attribute.name }}</label>
      <mat-slider
              [max]="attribute.max"
              [min]="attribute.min"
              [disabled]="!attribute.editable"
              [step]="attribute.step"
              [thumbLabel]="true"
              [value]="attribute.value"
              (input)="update($event, attribute.name)">
      </mat-slider>
    </div>
    <mat-form-field *ngIf="attribute.type !== 'range'" class="half">
      <input *ngIf="attribute.type === 'color'" matInput
            type="{{ attribute.type }}"
            placeholder="{{ attribute.name }}"
            [disabled]="!attribute.editable"
            [value]="attribute.value | color"
            (input)="update($event, attribute.name)">
      <input *ngIf="attribute.type !== 'color'" matInput
            type="{{ attribute.type }}"
            placeholder="{{ attribute.name }}"
            [disabled]="!attribute.editable"
            [value]="attribute.value"
            (input)="update($event, attribute.name)">
    </mat-form-field>
  </ng-container>
  <mat-form-field class="quarter">
    <input matInput
          type="number"
          placeholder="X-Position"
          [value]="data.position.x | round"
          (input)="change($event, 'position', 'x')">
  </mat-form-field>

  <mat-form-field class="quarter">
    <input matInput
           type="number"
          placeholder="Y-Position"
          [value]="data.position.y | round"
          (input)="change($event, 'position', 'y')">
  </mat-form-field>

  <mat-form-field class="half">
    <input matInput
           type="number"
           placeholder="Rotation"
           [value]="data.rotation | degrees | round"
           (input)="change($event, 'rotation')">
  </mat-form-field>

  <mat-form-field *ngIf="data.size" class="quarter">
    <input matInput
           type="number"
           placeholder="X-Scale"
           [value]="data.size.x * 100 | round"
           (input)="change($event, 'size', 'x')">
  </mat-form-field>

  <mat-form-field *ngIf="data.size" class="quarter">
    <input matInput
           type="number"
           placeholder="Y-Scale"
           [value]="data.size.y * 100 | round"
           (input)="change($event, 'size', 'y')">
  </mat-form-field>

  <ng-container *ngFor="let attribute of data.additionalAfter">
    <div *ngIf="attribute.type === 'range'" class="slider-container half">
      <label class="mat-form-field-label">{{ attribute.name }}</label>
      <mat-slider
              [max]="attribute.max"
              [min]="attribute.min"
              [disabled]="!attribute.editable"
              [step]="attribute.step"
              [thumbLabel]="true"
              [value]="attribute.value"
              (input)="update($event, attribute.name)">
      </mat-slider>
    </div>
    <mat-form-field *ngIf="attribute.type !== 'range'" class="half">
      <input *ngIf="attribute.type === 'color'" matInput
            type="{{ attribute.type }}"
            placeholder="{{ attribute.name }}"
            [disabled]="!attribute.editable"
            [value]="attribute.value | color"
            (input)="update($event, attribute.name)">
      <input *ngIf="attribute.type !== 'color'" matInput
            type="{{ attribute.type }}"
            placeholder="{{ attribute.name }}"
            [disabled]="!attribute.editable"
            [value]="attribute.value"
            (input)="update($event, attribute.name)">
    </mat-form-field>
  </ng-container>
</div>
