<nz-collapse-panel [nzHeader]="header" [nzActive]="expanded">
  <ng-template #header>
    <div class="inline-block header">
      <yame-type-label class="fill-60" [component]="component" [entities]="entities"></yame-type-label>
      <div
        class="preview-wrapper"
        [class.fill-20]="component?.removable"
        [class.vert-align-middle]="component?.removable"
        [class.fill-33]="!component?.removable"
        [class.vert-align-super]="!component?.removable"
      >
        <span class="preview bg"></span>
        <span class="preview" [style.background-color]="rgbaString"></span>
      </div>
      <div *ngIf="component?.removable" class="inline-actions inline pull-right">
        <button nz-button nzShape="circle" nzType="text" nzSize="small" (click)="onRemove($event)">
          <i nz-icon nzType="delete"></i>
        </button>
      </div>
    </div>
  </ng-template>
  <sketch-picker [control]="control"></sketch-picker>
</nz-collapse-panel>
